@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
  text-decoration: none;
}


.NavBar {
  color: rgb(255, 255, 255);
  background: linear-gradient(178deg, rgba(29, 29, 177, 0.7), rgba(255, 192, 203, 0.7));
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450vh;
  border-radius: 17px;
  height: 45px;
  margin-top: 1rem;
  margin-left: 6rem;
  text-decoration: none;
  font-family: "Playfair Display", serif;
}


.NavBar .Nav-Home{
  margin: 0 0 0 2rem;
  color: rgb(255, 255, 255);
}


.NavBar .NavLink{
  margin: 0 5rem 0 5rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
